body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#contact-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}