body {
    background-color: rgb(255, 255, 255);
    background-image: url('Assets/HTYD/HTYD-background.png');
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@keyframes htyd-background-loop {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -420px 0;
    }
}

.HTYD-banner {
    min-height: 40vh;
}

.HTYD-background {
    width: 100%;
    position: relative;
}