<footer class="footer">
    <div>
        <ul class="nav-links">
            <li><a href="index.html" data-page-link="index.html" language-text="nav.home">Home</a></li>
            <li><a href="about.html" data-page-link="about.html" language-text="nav.about">About</a></li>
            <li><a href="contact.html" data-page-link="contact.html" language-text="nav.contact">Contact</a></li>
        </ul>
    </div>
    <p class="rights-text">&copy; <span id="footer-year"></span> <span language-text="footer.rights">Robin van den Berg.</span></p>
</footer>