<nav class="header desktop-nav">
    <div class="logo">Robin van den Berg</div>
    <div>
        <ul class="nav-links">
            <li><a href="Index.html">Home</a></li>
            <li><a href="Index.html#projects">Projects</a></li>
            <li><a href="Index.html#about">About</a></li>
            <li><a href="Index.html#contact">Contact</a></li>
            <li><a href="Index.html#experience">Experience</a></li>
        </ul>
    </div>
    <button class="btn lang-btn" onclick="toggleLanguage()" id="language-btn">EN | NL</button>
</nav>