<nav class="header desktop-nav">
    <div class="logo"> <a href="./" language-text="nav.logo">Robin van den Berg</a></div>
    <div class="nav-center">
        <ul class="nav-links">
            <li><a href="./" language-text="nav.home">Home</a></li>
            <li><a href="about.html" language-text="nav.about">About</a></li>
            <li><a href="contact.html" language-text="nav.contact">Contact</a></li>
        </ul>
    </div>
    <button class="btn lang-btn" onclick="toggleLanguage()" id="language-btn">EN | NL</button>
</nav>